<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CoderHouse</title>
</head>
<body>
    <h1> Django</h1>
    <ul> 
        <li> Esto es un framword moderno para crear aplicaciones web</li>
        <li>Su comunidad mundial es muy grande</li>
        <li> Hay miles de herramientas para no reinventar la rueda</li>
    </ul>
    <footer> hecho en el año {{año}} </footer>
        


</body>

</html>











   

